
# debug
# dependencies
# misc
# next.js
# production
# typescript
*.pem
*.tsbuildinfo
.DS_Store
.env
.env*.local
.pnp.*
/.next/
/.pnp
/build
/node_modules
/out/
data/*.json
data/portfolio.json
next-env.d.ts
npm-debug.log*
scripts/__pycache__/
yarn-debug.log*
yarn-error.log*
